{% extends 'admin/master.html' %}


{% block body %}

<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #213555;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

  .container-label {
    text-align: right;
  }
  </style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<div class="container">

  <br>
    <div class="container-label">
    
      <a href=" {{ url_for('pos') }} ">POS</a> &nbsp;  &nbsp;  &nbsp;  &nbsp;
       <a href=" {{ url_for('logout') }} ">Logout</a>  
    </div>
    <br><br>
    <div class="grid-container">
      <div class="grid-item">
        <article>
          <div class="hero is-info is-fullwidth" style="height: 150px; text-align: center;">
           <div class="hero-body">
             <p class="title is-4"> 
              {{ new_average_daily }}
             </p>
           </div>
          </div>
           <h4 class="subtitle">Average Daily</h4>
         </article>
      </div>
      <div class="grid-item">
        <article>
          <div class="hero is-info is-fullwidth" style="height: 150px; text-align: center;">
            <div class="hero-body">
              <p class="title is-4"> 0.00 </p>
            </div>
           </div>
          <h4 class="subtitle">Expenses</h4>
        </article>
      </div>
      <div class="grid-item">
        <article>
          <div class="hero is-info is-fullwidth" style="height: 150px; text-align: center;">
            <div class="hero-body">
              <p class="title is-4"> {{ new_result }} </p>
            </div>
           </div>
          <h4 class="subtitle">Sales</h4>
        </article>
      </div>
      <div class="grid-item">
        <article>
          <div class="hero is-info is-fullwidth" style="height: 150px; text-align: center;">
            <div class="hero-body">
              <p class="title is-4"> {{ new_count_invoices }} </p>
            </div>
            
           </div>
          <h4 class="subtitle">Daily Invoices</h4>
         
        </article>
      </div>
    </div>  
      </section>
      <br><br>
      <div class="container" style="align-items: center; width: 95%;height: 300px; border: 1px solid gray;">
        <table id="critical-stocks" style="width: 100%;">
          <tr>Critical Stocks</tr>
          <tr style="background-color: gray;">
            <th>ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Status</th>
          </tr>
          <tbody>
            {% for i in critical_stocks %}
              <tr>
                <td> {{ i.id }} </td>
                <td> {{ i.name }} </td>
                <td> {{ i.quantity }} </td>
                <td> {{ i.status }} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>


    <br><br>
    <div class="columns">
        <div class="column">
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            <p class="p is-size-3">Monthly Sales</p>
        </div>
        <div class="column">
            <canvas id="expenses"  style="width:100%;max-width:600px"></canvas>
            <p class="p is-size-3">Weekly Sales</p>
        </div>

        <!-- <div class="column">
            <canvas id="equity"  style="width:100%;max-width:600px"></canvas>
            <p class="p is-size-3">Equity</p>
        </div> -->
    </div>


<script>
    const xValues = ["November", "December", "January", "February", "March","April"];
    const yValues = [
        {% for i in new_result %}
          "{{ i }}",
        {% endfor %}

    ];

    const yval2 = [
      {% for j in new_result %}
        "{{ j }}",
      {% endfor %}
    ]
    
    const yval3 = [2,3,2,2,3,4,3,1,2,2]

    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yValues,
          
        }]
      },
      options: {
        legend: {display: false},
        
        scales: {
          yAxes: [
            {
              ticks:
             {
              startAtZero: true,
              max: 100
             }
             
          }
        ],   
        }
      }
    });

    new Chart("expenses", {
      type: "line",
      data: {
        // labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(240,0,0,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yval2
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{ticks: {min: 0, max:100}}],
          // xAxes: [{
          //   type: "time",
          //   time: {
          //     displayFormats: {"day": "MM/YY"},
          //     unit: "month",
              
          //   }
          // }]
        },
          

      }
    });

    // new Chart("equity", {
    //   type: "line",
    //   data: {
    //     labels: xValues,
    //     datasets: [{
    //       fill: false,
    //       lineTension: 0,
    //       backgroundColor: "rgba(0,200,200,1.0)",
    //       borderColor: "rgba(0,0,255,0.1)",
    //       data: yval3
    //     }]
    //   },
    //   options: {
    //     legend: {display: false},
    //     scales: {
    //       yAxes: [{ticks: {min: 0, max:10}}],
    //     }
    //   }
    // });

    </script>

{% endblock %}